.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 15px;
  width: 30%;
  margin: 2%;
  box-shadow: 5px 10px 8px black;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.name {


}

.quantity {
  display: flex;
  margin: 0;
  padding: 5px;
  background: lightgrey;
  color: grey;
}

.unit {
  display: flex;
  margin: 0;
  padding: 5px;
  background: lightgrey;
  color: grey;
}

.price {
  display: flex;
  margin: 0;
  padding: 5px;
  background: lightgrey;
  color: grey;
}

.category {
  display: flex;
  margin: 0;
  padding: 5px;
  background: lightgrey;
  color: grey;
}

.kitchen {
  display: flex;
  margin: 0;
  padding: 5px;
  background: lightgrey;
  border: 1px solid transparent;
  border-radius: 0 0 15px 15px;
  color: grey;
}

.Q-title {
  margin: 0 1% 0 0;
  color: black;
}

.U-title {
  margin: 0 1% 0 0;
  color: black;
}

.P-title {
  margin: 0 1% 0 0;
  color: black;
}

.C-title {
  margin: 0 1% 0 0;
  color: black;
}

.K-title {
  margin: 0 1% 0 0;
  color: black;
}
